<div class="container text-center">
    <h1 class=" text-white"><strong>Search your Tune</strong></h1>
    <img id="imgPrincipal" class="img-fluid rounded" src="../../assets/images/!tuneLogo.png" >
    <div id="bodySearch" >
            <form id="inSearch" class="form-inline text-center md-form  mb-4">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                    <button   class="btn btn-outline-warning  btn-sm my-0" type="submit">Search</button>
            </form>

      <div class="card-columns">
            <div >
                    <div class="card mb-3" style="max-width: 300px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="../../assets/images/defaultImg.jpg" class="card-img" alt="none">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">Song Name</h5>
                                  <p class="card-text">Artist Name</p>
                                  <p class="card-text">Album Name</p>
                                  <p class="card-text"><small class="text-muted">Time: xxx
                                  <br>Price: $$$</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
             </div>
      </div>
       
    </div>
</div>